#panel{
    display: grid;
    grid-template-columns: 2fr 3fr;
}
#mainList {
    display: flex;
    flex-direction: column;
}

#mainList ul {
    margin: 1rem;
}

#deviceField {
    display: flex;
    justify-content: center;
    align-items: center;
}